* {
    padding: 0;
    margin: 0;

}

.top_notice_in_blue_background {
    background-color: #07294D;
    min-height: 50px;
    padding-top: 10px;
}

.max_width {
    max-width: 1190px;
    /* padding: 0 20px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.3s;
}

.singup_right_side {
    display: flex;
    align-items: center;
    gap: 10px;
}

.singup_right_side img {
    width: 16px;
    padding-top: 5px;
}

.shopping_cart_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
    background-color: white;
    color: #098B51;
    width: 100px;
    height: 30px;
    border-radius: 50px;
}

.shopping_cart_logo img {
    padding-bottom: 5px;
}

@media screen and (max-width:565px) {
    .max_width {
        padding: 0 20px;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0 !important;
        padding: 5px 0 !important;
        margin: 0 !important;
        line-height: 4px;
        font-size: 12px;
    }

    .shopping_cart_logo {
        transform: scale(0.8);
    }
}

/* navbar section */


.nav_white {
    background-color: white;
    box-shadow: rgba(32, 32, 32, 0.2) 0px 7px 29px 0px;
    z-index: 5px;

}

.navbar_container {
    max-width: 1190px;
    height: 98px;
    margin: auto;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.menu_box{
    /* height: 100%; */
}
.menu {
    /* position: absolute; */
    text-decoration: none !important;
    display: flex;
    /* height: 100%; */
    align-items: center;
    text-transform: capitalize;
    list-style: none;
    color: white;
    gap: 45px;
    font-weight: 500;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.777) !important;

}

.li_none  {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.777) !important;
}
.li_none:hover {
    cursor: pointer;
    color: #098B51 !important;
}

#svg,
.label_1 {
    display: none;
}

.label_1 img {
    width: 30px;
}

li:hover {
    cursor: pointer;
    color: #098B51 !important;
}

@media screen and (max-width:970px) {
    .menu {
        text-decoration: none !important;
        position: absolute;
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        top: -100%;
        left: 0;
        z-index: 5;
        transition: all 1s;
        padding-bottom: 50px;
        padding-top: 30px;
        background-color: #EBF5F1;
        width: 100%;
        color: black;
        gap: 20px !important;

    }

    .menu li {
        padding-left: 30px;

    }

    .label_1 {
        display: block;
        order: 3;
    }

    .navbar_container {
        height: 80px;
    }

    #svg:checked+.menu {
        top: 135px;
    }
    .dropbtn{
        /* border: 1px solid black; */
        width: 200px;
        height: 30px !important;
        padding: 0%;
        margin: 0%;
    }
    .dropdown-content{
        top: 0px !important;
        left: 130px;
    }
   
    
}

@media screen and (max-width:615px) {

    .button_1 {
        display: none;
    }

    #svg:checked+.menu {
        top: 135px;
    }

}

@media screen and (max-width:1250px) {
    .navbar_container {
        padding: 0 20px;
    }

    .max_width {
        padding: 0 20px;
        padding-bottom: 8px !important;

    }
}

.dropbtn {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height:95px;

  }
  
  .dropdown{
    display: flex;
    position: relative;
    display: inline-block;
    /* border: 1px solid rgb(0, 0, 0); */
    height:100%;

  }

  
   .dropdown-content { 
    top: 100%;
    display: none;
    position: absolute;
    background-color:#ffffff;
    min-width: 210px;
    padding-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    /* border: 1px solid rgb(0, 0, 0); */
  }
  
  .dropdown-content li {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  } 

  .green_patti{
    margin-top: 15px;
    height: 5px ;
    width: 100%;
    background-color: #098B51;
    border-radius:0 0 4px 4px;
  }
